body {
    background-color: white
}

.containertit {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 1864px;
    height: 150px;
    background-color: rgb(100, 100, 221);
}

.carrusel img {
    height: 600px;
}

.datos {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: gold;
    color: white;
    border-style: solid;
    border-color: red;
}

.containerform { 
    position: absolute;
    width: 940px;

}

.containerform2 {
    width: 940px;
}

.form-check {
    color: white;
    background-color: green;
    width: 375px;
    height: 20px;
    border-style: solid;
    border-color:black;

}

.boton {
  position: relative;
  bottom: 50px;
  left: 750px;
 
}
.mensaje-error{
    color: red;
}