body{ background-color: rgb(46, 46, 46);
}

.titulo{
    Height: 50px;
    width: 20000px;
    color: white;
    background-color: black;
    border-style: solid;
    border-color:rgb(102, 2, 2)
}
.subtitulo{
    Height: 30px;
    width: 570px;
    color: white;
    background-color: rgb(65, 33, 33);
    border-style: solid;
    border-color:rgb(51, 0, 0)
}