body{ background-color: white;
}

.titulo{
    Height: 100px;
    width: 1879px;
    color: white;
    background-color: black;
    border-style: solid;
    border-color:rgb(102, 2, 2)
}


.form{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.tarea{
    background-color: red;
    color: white;
}